{{> menu id="dashboard"}}

{{#each stations}}
  <section class="ui segment">
    <h2 class="ui header">
      {{title}}
    </h2>
    <h2 {{name}}</
    <table class="ui table">
      <thead>
        <tr>
          <th>Code</th>
          <th>Temperature</th>
          <th>WindSpeed</th>
          <th>Pressure</th>
        </tr>
      </thead>
      <tbody>
        {{#each reading}}
          <tr>
            <td>
              {{code}}
            </td>
            <td>
              {{temperature}}
            </td>
            <td>
              {{WindSpeed}}
            </td>
            <td>
              {{Pressure}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
{{/each}}